<ion-header>
  <ion-toolbar>
    <ion-title>Inicios Sesion</ion-title>
    
  </ion-toolbar>
</ion-header>
<h1 class="ion-text-center">Ingreso Tellevo</h1>

<ion-content>
  <br><br><br>
<ion-button (click)="goLogUs()" expand="block" fill="clear" shape="round">
  Iniciar sesion como Pasajero
</ion-button>
<br>
<ion-button (click)="goLogCon()" expand="block" fill="clear" shape="round">
  Iniciar sesion como Conductor
</ion-button>
<br>
<ion-button (click)="goRegPas()" expand="block" fill="clear" shape="round">
  Registrar como Pasajero
</ion-button>
<br>
<ion-button (click)="goRegCon()" expand="block" fill="clear" shape="round">
  Registrar como Conductor
</ion-button>


</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    
    <img src="assets/img/Duoc.jpg"  class="btom" size=large/>
  </ion-toolbar>
</ion-footer>
