<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ingreso Vehiculo</ion-title>
    <ion-button (click)="Logout()" expand="block" fill="outline" shape="round">
      Logout
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<form #formulario="ngForm" (ngSubmit)="addDatos()">
  
  <ion-item>
    <ion-label position="fixed">Patente: </ion-label>
    <ion-input type="text" placeholder="Patente.." name="Patente" [(ngModel)]="newDato.Patente" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Modelo: </ion-label>
    <ion-input type="text" placeholder="Modelo.." name="Modelo" [(ngModel)]="newDato.Modelo" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Kilometraje: </ion-label>
    <ion-input type="number" placeholder="Km.." name="Km" [(ngModel)]="newDato.Kilometraje" required></ion-input>
  </ion-item>
 
  <ion-button [disabled] ="formulario.invalid" type="submit"
         expand="full" fill="outline" shape="round">
    Agregar Vehiculo
  </ion-button>
</form>

  <ion-list #myList>
    <ion-list-header>
      <ion-label>Mis Datos</ion-label>
    </ion-list-header>

    <ion-list>
      <ion-item-sliding *ngFor="let dato of datos">
        <ion-item>
          <ion-label text-wrap> 
            <h3>Patente:{{dato.Patente}}</h3>
            <ion-text color="secondary">
              <p>Modelo:{{dato.Modelo}}</p>
            </ion-text>
            <ion-text color="secondary">
              <p> km:{{dato.Kilometraje}}</p>
            </ion-text>
            <p>Fecha Modificacion :{{dato.modified | date: 'short'}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="secondary" (click)="updateDatos(dato)">Actualizar</ion-item-option>
         <ion-item-option color="danger" (click)="deleteDatos(dato)">Eliminar</ion-item-option> 
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-list>




</ion-content>