<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title > Menú </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark" >

    <ion-button id="a" routerLink="/add-pasajero"expand="block" fill="clear" shape="round">
      <ion-icon name="car-outline"></ion-icon>
      Ingresar Destino
    </ion-button>
    <ion-button id="c" routerLink="/list-p"expand="block" fill="clear" shape="round">
      <ion-icon name="earth-outline"></ion-icon>
      Lista De Pasajeros
    </ion-button>
    <ion-button (click)="exit()" id="i" expand="block" fill="clear" shape="round">
      <ion-icon slot="start" name="exit-outline"> </ion-icon>

      Salir
    </ion-button>




  </ion-content>
</ion-menu>



<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title id="xx">updatePasajero</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>

    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="txt" placeholder="Nombre" [(ngModel)]="pasajero.nombre" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">lat</ion-label>
      <ion-input type="number" name="lat" placeholder="lat" [(ngModel)]="pasajero.lat" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">lng</ion-label>
      <ion-input type="number" name="lng" placeholder="lng" [(ngModel)]="pasajero.lng" required></ion-input>
    </ion-item>
    <ion-row >
      <ion-col >
        
      
      <ion-button (click)="updatePasajero()" expand="block"  color="success" > Actualizar</ion-button>
    </ion-col>
    </ion-row>
    








  </form>






  
<ion-content>