<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title > Menú </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="dark" >

    <ion-button id="i" routerLink="/update-pasajero"expand="block" fill="clear" shape="round">
      <ion-icon name="car-outline"></ion-icon>
      Ingresar Destino
    </ion-button>
    <ion-button id="i" routerLink="/detail-pasajero"expand="block" fill="clear" shape="round">
      <ion-icon name="earth-outline"></ion-icon>
      Lista De Pasajeros
    </ion-button>
    <ion-button (click)="exit()" id="i" expand="block" fill="clear" shape="round">
      <ion-icon slot="start" name="exit-outline"> </ion-icon>

      Salir
    </ion-button>




  </ion-content>
</ion-menu>



<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title id="xx">DeletePasajero</ion-title>
    </ion-toolbar>

    
  </ion-header>


  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>ID # {{ Pasajero.id}}</ion-card-subtitle>
        <ion-card-title>Desea Eliminar A:{{ Pasajero.nombre}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="EliminarPasajero()" color="danger" ><ion-icon name="trash"  ></ion-icon></ion-button>
      </ion-card-content>
      
      
      
    </ion-card>
  
  </ion-content>
  </div>